{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">Works log</h1>
    {%for i in listt%}
        <h1>Action # {{i.id}}</h1>
        <table style="width: 100%; margin-bottom:30px">
        <tr style="background-color: grey">
            <th style="width: 35%;">Title of activity</th>
            <th style="width: 15%;">Team leader</th>
            <th style="width: 15%;">Duration</th>
            <th style="width: 25%;">List of collaborators</th>
            <th style="width: 10%;">Is finished</th>
        </tr>
        <tr style="background-color: #87cefa">
            <td style="width: 35%;">
                <span>{{i.job}}</span>
            </td>
            <td style="width: 15%;">
                <span>{{i.team_leader}}</span>
            </td>
            <td style="width: 15%;">
                <span>{{i.work_size}}</span>
            </td>
            <td style="width: 25%;">
                <span>{{i.collaborators}}</span>
            </td>
            <td style="width: 10%;">
                <span>{{i.is_finished}}</span>
            </td>
        </tr>
        </table>
    {% endfor %}

{% endblock %}